/* Hyperion Theme Design Tokens — extracted from @wdpr/design-token-hyperion-theme */
:root {
  --hyperion-blue-900: #083C5D;
  --hyperion-blue-800: #006096;
  --hyperion-blue-700: #0079BC;
  --hyperion-blue-600: #0B9BDB;
  --hyperion-blue-500: #60B4E2;
  --hyperion-blue-400: #97CEEC;
  --hyperion-blue-300: #B7E4F7;
  --hyperion-blue-200: #D2F1FF;
  --hyperion-blue-100: #E6F9FF;
  --hyperion-blue-000: #F3FDFF;
  --hyperion-slate-900: #00233C;
  --hyperion-slate-800: #063F69;
  --hyperion-slate-700: #35618D;
  --hyperion-slate-600: #4D79A0;
  --hyperion-slate-500: #6591B5;
  --hyperion-slate-400: #83B0CF;
  --hyperion-slate-300: #ACD4E7;
  --hyperion-slate-200: #CEE6F2;
  --hyperion-slate-100: #E1EEF4;
  --hyperion-slate-000: #F5FBFC;
  --hyperion-green-900: #005206;
  --hyperion-green-800: #006C00;
  --hyperion-green-700: #008900;
  --hyperion-green-600: #00AB00;
  --hyperion-green-500: #26CD22;
  --hyperion-green-400: #75DE65;
  --hyperion-green-300: #A8EF9F;
  --hyperion-green-200: #C3F9BA;
  --hyperion-green-100: #DCFFD5;
  --hyperion-green-000: #EFFFEF;
  --hyperion-orange-900: #821C00;
  --hyperion-orange-800: #A82502;
  --hyperion-orange-700: #DD3700;
  --hyperion-orange-600: #EE6034;
  --hyperion-orange-500: #FF8A66;
  --hyperion-orange-400: #FFB199;
  --hyperion-orange-300: #FFCAB8;
  --hyperion-orange-200: #FFE3DC;
  --hyperion-orange-100: #FFEEEB;
  --hyperion-orange-000: #FFF9F8;
  --hyperion-cool-grey-900: #2C353D;
  --hyperion-cool-grey-800: #445763;
  --hyperion-cool-grey-700: #607682;
  --hyperion-cool-grey-600: #798E99;
  --hyperion-cool-grey-500: #8FA1AA;
  --hyperion-cool-grey-400: #ACBAC1;
  --hyperion-cool-grey-300: #C1CFD1;
  --hyperion-cool-grey-200: #D3DEE2;
  --hyperion-cool-grey-100: #E6EDEF;
  --hyperion-cool-grey-000: #F7FBFC;
  --hyperion-gold-900: #A05700;
  --hyperion-gold-800: #D27408;
  --hyperion-gold-700: #F09219;
  --hyperion-gold-600: #F4AF25;
  --hyperion-gold-500: #FFC23B;
  --hyperion-gold-400: #FFD469;
  --hyperion-gold-300: #FFE499;
  --hyperion-gold-200: #FFEEBD;
  --hyperion-gold-100: #FFF4D9;
  --hyperion-gold-000: #FFFAEB;
  --hyperion-lime-900: #2D562C;
  --hyperion-lime-800: #336D00;
  --hyperion-lime-700: #3C8900;
  --hyperion-lime-600: #48A022;
  --hyperion-lime-500: #84C341;
  --hyperion-lime-400: #D5E058;
  --hyperion-lime-300: #D2F294;
  --hyperion-lime-200: #E0FCB9;
  --hyperion-lime-100: #F2FFDC;
  --hyperion-lime-000: #F8FFEE;
  --hyperion-aqua-900: #025159;
  --hyperion-aqua-800: #006D72;
  --hyperion-aqua-700: #008896;
  --hyperion-aqua-600: #00AABC;
  --hyperion-aqua-500: #3EC2D5;
  --hyperion-aqua-400: #73DAE5;
  --hyperion-aqua-300: #A2ECF4;
  --hyperion-aqua-200: #CAFCFC;
  --hyperion-aqua-100: #E1FFFD;
  --hyperion-aqua-000: #F0FFFE;
  --hyperion-indigo-900: #323277;
  --hyperion-indigo-800: #2D4D9A;
  --hyperion-indigo-700: #306CCF;
  --hyperion-indigo-600: #3E92F7;
  --hyperion-indigo-500: #69A6FF;
  --hyperion-indigo-400: #97C1FF;
  --hyperion-indigo-300: #B8D5FF;
  --hyperion-indigo-200: #D4E8FF;
  --hyperion-indigo-100: #EBF6FF;
  --hyperion-indigo-000: #F8FBFF;
  --hyperion-violet-900: #5E1977;
  --hyperion-violet-800: #8B28A3;
  --hyperion-violet-700: #A53ABF;
  --hyperion-violet-600: #C542D3;
  --hyperion-violet-500: #D568E0;
  --hyperion-violet-400: #EA97EF;
  --hyperion-violet-300: #F4B8FF;
  --hyperion-violet-200: #F8D9FF;
  --hyperion-violet-100: #FBEBFF;
  --hyperion-violet-000: #FDF9FF;
  --hyperion-pink-900: #8E0055;
  --hyperion-pink-800: #B70B71;
  --hyperion-pink-700: #DD1788;
  --hyperion-pink-600: #F44AAB;
  --hyperion-pink-500: #F47ABD;
  --hyperion-pink-400: #FFA4D0;
  --hyperion-pink-300: #FFC5E1;
  --hyperion-pink-200: #FFD9EF;
  --hyperion-pink-100: #FFEBF7;
  --hyperion-pink-000: #FFF9FC;
  --hyperion-red-900: #8C0036;
  --hyperion-red-800: #B20840;
  --hyperion-red-700: #E2144F;
  --hyperion-red-600: #F25174;
  --hyperion-red-500: #FF8092;
  --hyperion-red-400: #FFA4B1;
  --hyperion-red-300: #FFC5CC;
  --hyperion-red-200: #FFD9DF;
  --hyperion-red-100: #FFE9ED;
  --hyperion-red-000: #FFF9FA;
  --hyperion-brown-900: #7C3200;
  --hyperion-brown-800: #A8430B;
  --hyperion-brown-700: #CE5706;
  --hyperion-brown-600: #EA7424;
  --hyperion-brown-500: #F3963F;
  --hyperion-brown-400: #FCB17E;
  --hyperion-brown-300: #FFC89F;
  --hyperion-brown-200: #FFE2CF;
  --hyperion-brown-100: #FFEDE3;
  --hyperion-brown-000: #FFF9F5;
  --hyperion-tan-900: #70381F;
  --hyperion-tan-800: #854D3C;
  --hyperion-tan-700: #AE6F4A;
  --hyperion-tan-600: #C4875F;
  --hyperion-tan-500: #E0A370;
  --hyperion-tan-400: #F4C287;
  --hyperion-tan-300: #FDD9AD;
  --hyperion-tan-200: #FCE6D0;
  --hyperion-tan-100: #FFEFE1;
  --hyperion-tan-000: #FFF9F3;
  --hyperion-warm-gray-900: #474747;
  --hyperion-warm-gray-800: #606060;
  --hyperion-warm-gray-700: #7F7F7F;
  --hyperion-warm-gray-600: #9B9B9B;
  --hyperion-warm-gray-500: #AFAFAC;
  --hyperion-warm-gray-400: #C1C1BF;
  --hyperion-warm-gray-300: #D8D8D6;
  --hyperion-warm-gray-200: #E4E5E3;
  --hyperion-warm-gray-100: #F4F4F4;
  --hyperion-warm-gray-000: #FCFBFA;
  --hyperion-primary-alert-theme: var(--orange-700);
  --hyperion-primary-focus-theme: var(--blue-900);
  --hyperion-primary-hover-theme: var(--blue-800);
  --hyperion-primary-actionable-theme: var(--blue-700);
  --hyperion-primary-disabled-theme: var(--blue-300);
  --hyperion-primary-tertiary-theme: var(--blue-100);
  --hyperion-primary-background-theme: var(--blue-000);
  --hyperion-primary-text-theme: var(--slate-900);
  --hyperion-primary-text-background-theme: var(--slate-000);
  --hyperion-secondary-focus-theme: var(--green-900);
  --hyperion-secondary-hover-theme: var(--green-800);
  --hyperion-secondary-actionable-theme: var(--green-700);
  --hyperion-secondary-disabled-theme: var(--green-200);
  --hyperion-secondary-alert-theme: var(--orange-700);
  --hyperion-bright-white: #FFFFFF;
  --hyperion-link-theme: var(--slate-900);
  --hyperion-royal-blue: #0F6FDC;
  --hyperion-slate-gray: #8596AA;
  --hyperion-font-family-base-theme: InspireTWDC;
  --hyperion-font-family-light-theme: InspireTWDCLight;
  --hyperion-font-family-heavy-theme: InspireTWDCHeavy;
  --hyperion-font-family-black-theme: InspireTWDCBlack;
  --hyperion-font-weight-light-theme: 200;
  --hyperion-font-weight-roman-theme: 400;
  --hyperion-font-weight-heavy-theme: 700;
  --hyperion-font-weight-black-theme: 900;
  --hyperion-font-one-theme-font-size: 50px;
  --hyperion-font-one-theme-line-height: 65px;
  --hyperion-font-two-theme-font-size: 40px;
  --hyperion-font-two-theme-line-height: 52px;
  --hyperion-font-three-theme-font-size: 36px;
  --hyperion-font-three-theme-line-height: 48px;
  --hyperion-font-four-theme-font-size: 28px;
  --hyperion-font-four-theme-line-height: 36px;
  --hyperion-font-five-theme-font-size: 24px;
  --hyperion-font-five-theme-line-height: 32px;
  --hyperion-font-six-theme-font-size: 20px;
  --hyperion-font-six-theme-line-height: 30px;
  --hyperion-font-seven-theme-font-size: 18px;
  --hyperion-font-seven-theme-label-line-height: 24px;
  --hyperion-font-seven-theme-line-height: 27px;
  --hyperion-font-eight-theme-font-size: 16px;
  --hyperion-font-eight-theme-label-line-height: 21px;
  --hyperion-font-eight-theme-line-height: 24px;
  --hyperion-font-nine-theme-font-size: 14px;
  --hyperion-font-nine-theme-label-line-height: 19px;
  --hyperion-font-nine-theme-line-height: 21px;
  --hyperion-font-ten-theme-font-size: 12px;
  --hyperion-font-ten-theme-line-height: 18px;
  --hyperion-link: var(--blue-700);
}
